export("loadPackageForSNPanalysis")
export("mergeGeneAnnotationFeature")
export("qualityCheckFromCDStoProtein")
export("pdbHomoFilter")
export("pdbExFilter")
export("annotateSNP")
export("clumpsAnalysis")
export("hotSpotAnalysis")
export("mergeGeneAnnotationFeature")
export("printSNPforGene")
export("chooseStrain")
export("getGeneNameWithSNP")
export("preprocessSNP")


import(tidyverse)
import(magrittr)
import(purrr)
import(readr)
import(stringr)
import(readxl)
import(Biostrings)
import(seqinr)
import(filesstrings)

importFrom(igraph, "graph_from_data_frame", "decompose.graph")
importFrom(centiserve, "closeness.residual")
